.App {
    font-family: sans-serif;
    text-align: center;
  }
  .map-container {
    height: 90vh;
  }
  #confirmbtn{
    font-size:20px;
    width:50vw;
    height:40px;
    background-color:lightgreen;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:1pc;
    color:white;
    border-color:white;
  }
  #confirmbtn:hover{
    transform:scale(1.1);
    transition:all .6s;
  }
  #input-data{
    margin-left:30vw;
    font-size:20px;
    font-family: 'FiraCode';
  }
